<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lugar equivocado</title>
    <link rel="stylesheet" href="{% static 'css\style.css' %}">
</head>
<body style="background-color:rgb(200,178,154);">
    <h1>Parece que ha habido un error:</h1>
    <h1>Este sitio esta siendo reparado o no existe, mientras tanto tome una buena taza de café</h1>
   <div>
    <img 
            src="media\fall.png"
            alt="fal"
            />
</div>

    
</body>
</html>